#module-container {
    margin-left: 0px;
    margin-top: 0px;
}
.float_right {
    float: right;
}
.float_left {
    float: left;
}
.inline_block {
    display: inline-block;
}
.font_bold {
    font-weight: bold;
}
.select-wrap {
    min-width: 120px;
}
.sort_by-wrapper {
    float: right;
}
.sort_by-options {
    margin-bottom: 10px;
    float: right;
    width: 150px;
    font-size: 11px;
    margin-right: 1px;
}
.sort_by-title {
    float: right;
    margin: 5px 10px 0px 0px;
    font-weight: bold;
}
.order-wrapper {
    float: left;
}
.order-title {
    float: left;
    margin: 2px 10px 0px 0px;
    font-weight: bold;
}
.order-options {
    margin-bottom: 10px;
    float: left;
}
.order-options-unit {
    margin-right: 20px;
    float: left;
}
.order-options-unit input {
    float: left;
}
.order-options-title {
    float: left;
    font-size: 13px;
    margin-top: 4px;
    padding-left: 3px;
}
.filter-wrapper {
    clear: right;
    width: auto;
    float: right;
}
.filter_title {
    margin: 5px 10px;
    font-size: 16px;
}
.summary_info {
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: monospace;
    font-size: 12px;
}
.summary_info_title{
    float: right;
    display: inline-block;
}
.summary_info_value{
    clear: right;
    float: right;
    text-align: right;
    display: inline-block;
    padding: 1px 0px 0px 10px;
}
